@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

    hr{
        color: white;
    }
    .border{
        color: white;
    }
    .container-fluid{
        width: 100%;
    
    }
    body{
        background-color: whitesmoke;
    }
    p{
        font-family: Helvetica, arial;
    }

   /* HEADER

   */


    a{
        color: #f8f89f;
        font-size: 25px;
        text-align: center;
    }
    a:hover{
        color: #89d7ef;
    }

    #button_head{
        border: thin;
        border-color: whitesmoke;
        background: #89d7ef;
        color: whitesmoke;
        font-size: 25px;
        width: 35%;
        height: 35%;

    }
    #button_head:checked{
        border: transparent;
    }
    #button_head:hover{
        font-weight: normal;
        background: whitesmoke;
        text-decoration-color: #89d7ef;
        color: #89d7ef;
        border: transparent;
        
    }
    #button_2 {
        border: transparent;
        background: #89d7ef;
        font-size: 25px;
        
    }
    #logo{
        border: solid;
        border-color: whitesmoke;
        border: collapse;
        opacity: 50%;
    }
    #logo:hover{
        opacity: 100%;  
    }
    .navbar{
        background-color: #89d7ef;
        color: whitesmoke;
    }
    .navbar-toggler-icon{
        border: whitesmoke
    }
/* CONTEUDO 

*/
    
    #texto_sobre{
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;
        background-color: whitesmoke;
        align-content: center;
        color: #378fac;
        
    }
    #login{
        font-weight: bold;
        align-self: center;
        text-align: center;
        scroll-snap-align: center;
        font-family: helvetica;
        align-content: center;
        background-color: white;
        border-color: whitesmoke;
        color: #378fac;

    }
    #login_lab{
        font-family: Helvetica;
        font-style: bold;
        color: #378fac;;
        align-content: center;
        font-size: 30px;
    }
    .input{
        border-color: transparent;
    }
    .pass-box{
        width: 400px;
        border-color: transparent;
    }
    .btn-entrar{
        background-color: #378fac;
        color: whitesmoke;
        border-color: transparent;
    }
    .btn-face{
        background-color: #21567e;
        color: whitesmoke;
        border-color: transparent;
        
    }
    .btn-google{
        background-color: #f893a3;
        color: whitesmoke;
        
        border-color: transparent;
    }
    #cadastro{
        background-color: #89d7ef;

    }
    #inferior{
        background-color: whitesmoke;
        padding: 10px;
    }

/* RODAPÉ 

*/
#footer{
    align-self: center;
    text-align: center;
    align-items: center;
    background-color: #89d7ef;
    bottom: 0;
    
}
